body{
	background: yellowgreen;
}
.first{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
   float: right;
   margin-right: 30px;

}

div.first:hover{
	border: 1px solid #777;
}




